* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.user {
  border-radius: 10px;
  box-shadow: 0px 0px 26px -3px #000000;
  padding: 1rem;
}

.avatarUrl {
  display: block;
  overflow: hidden;
  border-radius: 50%;
  width: 320px;
  height: 320px;
}

.avatarUrl:hover .avatar {
  transform: scale(1.1);
}

.avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}

.user-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

.user-name {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: blue;
  transition: color 0.5s;
}

.user-name:hover {
  color: #00008b;
}

.user-location {
  font-size: 1.2rem;
  color: #181818;
}

.name-form-input {
  font-size: 1rem;
  padding: 10px 10px;
  width: 75%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.name-form-btn {
  font-size: 1rem;
  padding: 10px 10px;
  width: 25%;
  margin-top: 1rem;
  background: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.name-form-btn:hover {
  background: #f3f3f3;
}

.errorImg {
  border: 3px solid #333;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

@media (max-width: 768px) {
  body {
    display: flex;
    align-items: flex-start;
  }

  .user {
    box-shadow: none;
    padding: none;
  }

  .avatarUrl {
    width: 100%;
  }

  .avatarUrl:hover .avatar {
    transform: none;
  }
}

@media (max-height: 375px) {
  body {
    height: 100%;
  }

  .avatarUrl {
    width: 320px;
  }
}
